/* 
	HL: CSS file for Chingu Tier 1 prework
*/

body {
	color: rgba(0,0,0,.75);
    font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5;
}

header, footer, nav, section {
	display: block;
}

header {
	background-color: #40596b;
	font-size: 1.25rem;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	margin: 0px;
}

nav li {
	margin-right: 1rem;
}

nav a {
	transition: color 2s, ease;
	color: #ffd05a;
    text-decoration: none;
}

nav a:hover {
	color: #ffffff;
}
