/* 
	HL: CSS file for Chingu Tier 1 prework
*/

/* General things */
html {
  scroll-behavior: smooth;
}

.not-visible {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.visible {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}



body {
	color: rgba(0,0,0,.75);
    font-family: Signika, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0px;
}

header, footer, nav, section {
	display: block;
  font-weight: 1.2;
}

.container {
  padding: 10px;
}

.container-flex {
	display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

.container-flex-narrow {
  width: 500px;
}

.page-full {
	width: 100%;
}

.page-half {
	width: 50%;
}

a {
  text-decoration: none;
  color: #40596b;
}

code {
  color: crimson;
}

/* Buttons */
.button {
  border-radius: 5px;
  padding: 10px 50px;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  -webkit-transition: -webkit-transform 5s ease-in-out;
  transition: transform 5s ease-in-out;
}

.button img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
}

.button:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.button:hover img {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

/* Header and navigation */
header {
	background-color: #40596b;
	font-size: 1.25rem;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	margin: 0px;
}

nav li {
	margin-right: 1rem;
}

nav a {
	-webkit-transition: color 0.5s ease-out;
	transition: color 0.5s ease-out;
	color: #ffd05a;
}

nav a:hover {
	color: #ffffff;
}


/* Home section */

#home {
	background-color: #55c0ec
}

.home-description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-description h1 {
	color: #40596b;
  font-size: 50pt;
  font-weight: normal;
  margin: 0px;
}

.home-description p {
	color: #ffffff;
  font-size: 18pt;
  width: 70%;
}

#home .button {
	background-color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#home .button:hover{
	opacity: 0.9;
}

#home a {
  text-decoration: none;
  color: #40596b;
}

/* Bot */

.home-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

/* About Section*/

h3 {
  text-align: center;
  width: 100%;
  margin: 20px;
  font-size: 28pt;
  font-weight: normal;
}

#about p {
  padding: 0px 30px;
  font-size: 14pt;
}

/* Features Section */

#features {
  background-color: #90ddaa;
}

.card {
  width: 30%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: #40596b;
  margin: 20px;
}

.card-image {
  height: 250px;
  margin: 50px auto;
}

.card-description {
  background-color: #ffffff;
  padding: 15px;
  font-size: 14pt;
  text-align: center;
}

/* cta */

#cta {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#cta .button {
  background-color: #40596b;
  margin: 40px auto;
  color: white;
}

/* Footer */

footer {
  background-color: #40596b;
  text-align: center;
  color: white;
  font-size: 10pt;
}

footer p {
  opacity: 0.8;
  margin: 5px auto;
}

footer a{
  color: white;
  text-decoration: underline;
}

/* Scroll to top button */

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ffd05a;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
